@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BBTreeGR', serif;
    font-weight: 300;
    color: #FAFAFA; 
  }
  body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
    background: url("../img/wave.png") no-repeat center center fixed;
    background-size: cover;
  }

h1 {
    text-align: center;
    font-size: 500%;
    margin: 100px;
}

.text_content {
    text-align: justify;
    font-size: 50px;
    color: pink;
    margin: 100px;
}