.swiper-container {
    widows: 800px;
    height: 800px;
    border:5px solid silver;
    border-radius:7px;
    box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.swiper-slide img {
    max-width: 100%;
    height: auto;
}
